body {
    background: #f06d06;
  }
  
  main {
    background: grey;
    height: 50vh;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    border-radius: 20px;
  }
  
  main div {
    background: white;
    color: black;
    padding: 20px;
    overflow: auto;
  }
@media screen and(max-width:1024px) {
    body {
        background-color: mediumpurple;
    }
    
}